
 <div class="container">
   <div class="row">
     <div class="col-lg-5">
       <h4 class="mt-4 mb-4"><span class="bg-light">　商品一覧　</span></h4>
       <h3>全<%=Product.count%>件</h3>
     </div>
   </div>
 </div>

 <div class="container">
   <div class="row mx-auto">
       <% @products.each do |product| %>
         <div class="col-lg-3 col-md-4 col-sm-10 mb-5">
           <%=link_to attachment_image_tag(product, :image, width:"90%", format: 'jpeg', fallback: "no_image.jpg"), product_path(product) %>
            <div class="d-block">
              <%= product.name %>
              <div class="d-block">
                ¥<%= product.tax_included_price.to_i.to_s(:delimited, delimiter: ',') %>
              </div>
            </div>
         </div>
       <% end %>
   </div>
 </div>

 <div class="container">
   <div class="row">
     <div class="col">
       <%= paginate @products %>
     </div>
   </div>
 </div>

