  <body class="top">
    <div class="main text-warning text-monospace">
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
          <h1 class="display-4">ようこそ！！ながのcakeへ!!</h1>
          <p class="lead">このサイトは、ケーキ販売のECサイトになります。会員でない方も商品の閲覧はできますが、購入には会員登録が必要になります。</p>
        </div>
        <div class="container">
          <div class="mb-3 col-lg-5">
            <div class="card shadow-sm">
              <div class="card-header">
                <h4 class="font-weight-normal text-danger text-left">新着商品</h4>
              </div>

                <div class="text-dark mt-4">
                  <% @top.each.with_index(1) do |top, i| %>
                        <div class=""><%=link_to attachment_image_tag(top, :image , width:"100px", format: 'jpeg', fallback: "no_image.jpg"), product_path(top) %></div>
                        <h2 class="text-center"><%= top.name %></h2>
                        <h5 class="text-center"><%= top.introduction %></h5>
                        <h4 class="text-center">¥<%= top.price %>円(税込)</h4>
                        <% end %>
                </div>
          </div>
        </div>
    </div>

    <div class="container text-dark">
      <div class="row">
        <div class="">
          <%= link_to "すべての商品を見る", products_path %>
        </div>
      </div>
    </div>

</body>