<div class="container">
  <div class="col-md-8">
  <div class="row no-gutters">

    <h5 class="my-2 mx-4">ジャンル一覧・追加</h5>

    <%= form_with model: @genre, url: admin_genres_path, local:true do |f| %>
    <div class="form-group">
      <%= f.label :genre_name, 'ジャンル名' %>
      <%= f.text_field :genre_name, placeholder: "ジャンル名", size: "20x3" %>
      <%= f.submit '新規登録', class: 'btn btn-success' %>
    </div>
    <% end %>

    <table class="w-50 table table-hover">
      <thead class="thead-light">
      <tr>
        <th colspan="2", class="text-center">ジャンル</th>
        <th colspan="1"></th>
      </tr>
      </thead>
      <% @genres.each do |genre| %>
      <tbody>
      <tr>
        <td>
        <div class:"text-left">
          <%= genre.genre_name %>
        </div>
        </td>
        <td></td>
        <td>
          <%= link_to "編集する",  edit_admin_genre_path(genre.id),  class: "btn float-right btn-success px-4" %>
        </td>
      </tr>
      </tbody>
      <% end %>
    </table>

  </div>
  </div>
</div>