<h1>商品編集</h1>
<div class="container ml-5">
  <div class="row ml-5">
    <div class="col-lg-3 text-left mt-5 ml-5">
          <h6 class="mb-5">商品画像</h6>
          <h6 class="mb-5">商品名</h6>
          <h6 class="mb-5">商品説明</h6>
          <h6 class="mb-5">ジャンル</h6>
          <h6 class="mb-5">税抜価格</h6>
          <h6 class="mb-5">販売ステータス</h6>
    </div>
    <div class="d-inline mt-5 ml-5">
        <%= form_with model: @product,url: admin_product_path, local: true do |f| %>
          <div class="mb-5"><label for="inputImage"></label><%= f.attachment_field :image, placeholder: "プロフィール画像" %></div>
          <div class="mb-4"><%= f.text_field :name, placeholder: 'name' %></div>
          <div class="mb-4"><%= f.text_area :introduction, placeholder: 'introduction' %></div>
          <div class="mb-4"><%= f.collection_select :genre_id, @genres, :id, :genre_name, class:"form-control" %></div>
          <div class="mb-5"><%= f.text_field :price, placeholder: 'price' %></div>
          <div class="mb-5"><%= f.radio_button :sales_status, :販売中 %>販売中<span class="ml-3"><%= f.radio_button :sales_status, :販売停止 %>販売停止中</span></div>
          <%= f.submit '変更を保存', class:"btn btn-success" %>
        <% end %>
    </div>     
  </div>      
</div>    