<h1>商品一覧</h1>
<%= link_to "New Product", new_admin_product_path %>
<div style="text-align:center;">
        <div class="btn-group"  role="group">
             <table class="table table-hover">
             <thead>
                    <tr>
                        <th>
                            商品ID
                        </th>
                        <th>
                            商品名
                        </th>
                        <th>
                            税抜価格
                        </th>
                        <th>
                            ジャンル
                        </th>
                        <th>
                            ステータス
                        </th>
                    </tr>
             </thead>
             <% @products.each do |product| %>
             <tbody>
                     <tr>
                         <td>
                             <span><%= product.id %></span>
                         </td>
                          <td>
                             <span><%= link_to admin_product_path(product.id) do %><%= product.name %><% end %></span>
                         </td>
                          <td>
                             <span><%= product.price %></span>
                         </td>
                          <td>
                             <span><%= product.genre_id %></span>
                         </td>
                          <td>
                             <span><%= product.sales_status %></span>
                         </td>
                     </tr>
             </tbody>
             <% end %>
             </table>
        </div>
</div>