<h1>商品一覧</h1>
<%= link_to new_admin_product_path %>
<div style="text-align:center;">
        <div class="btn-group"  role="group">
             <thead>
                    <tr>
                        <th>
                            商品ID
                        </th>
                        <th>
                            商品名
                        </th>
                        <th>
                            税抜価格
                        </th>
                        <th>
                            ジャンル
                        </th>
                        <th>
                            ステータス
                        </th>
                    </tr>
             </thead>
             <tbody>
                 <% @products.each do |book| %>
                     <tr>
                         <td>
                             <span><%= products.id %></span>
                         </td>
                          <td>
                             <span><%= link_to products.name, admin_product_path(products.id) %></span>
                         </td>
                          <td>
                             <span><%= products.price %></span>
                         </td>
                          <td>
                             <span><%= products.genre_id %></span>
                         </td>
                          <td>
                             <span><%= products.sales_status %></span> 
                         </td>
                     </tr>
                 <% end %>
             </tbody>
        </div>
</div>