<h1>商品詳細</h1>
<span><%= attachment_image_tag product_image_id, :image, :fill, 40, 40, size:"40x40" %></span>
<div classs="group">
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    商品名
                </td>
                <td>
                    <span><%= @product.name %></span>
                </td>
            </tr>
             <tr>
                <td>
                    商品説明
                </td>
                <td>
                    <span><%= @product.introduction %></span>
                </td>
                <td>
                    ジャンル
                </td>
                <td>
                    <span><%= @product.genre_id %></span>
                </td>
                <td>
                    税込価格（税抜価格）
                </td>
                <td>
                    <span><%= @product.price %></span>
                </td>
                <td>
                    販売ステータス
                </td>
                <td>
                    <span><%= @product.sales_status %></span>
                </td>
            </tr>
        </tbody>
        <%= link_to "編集する", edit_admin_product_path(@product.id), class: "btn btn-secondary" %>
</div>
