<div class="container">
  <div class="row">
    <div class="col"></div>
      <h4 class="mt-4 mb-4"><span class="bg-light">　商品詳細　</span></h4>
      <%= attachment_image_tag(@product, :image , :fill, 200, 200, format: 'jpeg', fallback: "no_image.jpg") %>
         <table class="table table-borderless">
            <tr class="text-left">
              <td>商品名<%= @product.name %></td>
              <td>商品説明<%= @product.introduction %></span></th>
              <th>ジャンル<span class="ml-5"><%= @product.genre %></span></td>
              <th>税込価格（税抜価格）<span class="ml-5"><%= @product.price %></span></th>
              <th>販売ステータス<span class="ml-5"><%= @product.sales_status %></span></th>
            </tr>
        </table>
      </div>      
    </div> 
<div class="text-center">
  <%= link_to "編集する", edit_admin_product_path(@product), class: "btn btn-success" %>
</div> 
