<h1>商品詳細</h1>

    <div class="container">
      <div class="row mt-5 ml-5">  
        <div class="d-inline">
          <span><%= attachment_image_tag(@product, :image , :fill, 200, 200, format: 'jpeg', fallback: "no_image.jpg") %></span>
        </div>
         <table class="table col-lg-5 d-inline">
            <tr class="text-left">
                <th class="d-block">商品名<span class="ml-5"><%= @product.name %></span></th>
                <th class="d-block">商品説明<span class="ml-5"><%= @product.introduction %></span></th>
                <th class="d-block">ジャンル<span class="ml-5"><%= @product.genre %></span></td>
                <th class="d-block">税込価格（税抜価格）<span class="ml-5"><%= @product.price %></span></th>
                <th class="d-block">販売ステータス<span class="ml-5"><%= @product.sales_status %></span></th>
            </tr>
        </table>
      </div>      
    </div> 
<div class="text-center">
  <%= link_to "編集する", edit_admin_product_path(@product), class: "btn btn-success" %>
</div> 
