<div class="container">
  <div class="row">
    <div class="col">
      <h4 class="mt-4 mb-4"><span class="bg-light">　ログイン　</span></h6>
      <h6 class="mt-4 mb-4 ml-5"><span class="bg-light">　会員の方はこちらからログイン　</span></h5>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group form-inline">
          <%= f.label :email, 'メールアドレス', class:"col-sm-4 control-label" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", class:"form-control" %>
        </div>
        <div class="form-group form-inline">
          <%= f.label :password, 'パスワード', class:"col-sm-4 control-label" %>
          <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
        </div>
        <div class="actions text-center col-sm-9 mt-4">
          <%= f.submit "ログイン", class:"btn btn-primary" %>
        </div>
      <% end %>
      <div class="ml-5">
        <h6 class="mt-4 mb-4"><span class="bg-light">　会員登録がお済みでない方　</span></h6>
        <p class="ml-5"><%= link_to "こちら", new_customer_registration_path %>&nbsp;&nbsp;&nbsp;&nbsp;から新規登録を行ってください。</p>
      </div>
    </div>
  </div>
</div>